header {
    background-color: #354259;
    color: #DAE5D0;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
}


a {
    color: #FEFBE7;
}

a:visited {
    color: #FEFBE7;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#logo {
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 50px;
    color: #FEFBE7;
    text-align: center;
}

body {
    background-color: #DAE5D0;
    color: #363636;
    font-family: sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    margin: 0;
}

label {
    display: block;
    margin: 10px 0;
}

textarea {
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #A0BCC2;
    font-family: sans-serif;
    width: 100%;
    margin-bottom: 10px;
    resize: none;
}

button[type="submit"] {
    background-color: #FEFBE7;
    color: #354259;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #DAE5D0;
    cursor: pointer;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    /* 100vh에서 헤더 높이를 뺀 만큼 설정 */
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 100vh에서 헤더 높이를 뺀 만큼 설정 */
}