body {
    padding: 20px;
}

.container {
    width: 150px;
    height: 200px;
    perspective: 300px;
}

.container .item {
    width: 150px;
    height: 200px;
    border: 1px solid #828282;
    font-size: 35px;
    backface-visibility: hidden;
    transition: 1s;
}

.container .item.front {
    position: absolute;
    transform: rotateY(0deg);
}

.container:hover .item.front {
    transform: rotateY(180deg);
}

.container .item.back {

    transform: rotateY(-180deg);
}

.container:hover .item.back {
    transform: rotateY(0deg);
}

/* 
<body>
    <div class="container">
        <div class="item front"><img src="https://placeimg.com/150/200/animals" alt="img front"/></div>
        <div class="item back"><img src="https://placeimg.com/150/200/people" alt="img back"/></div>
    </div>
</body> */
