header {
    background-color: #354259;
    color: #DAE5D0;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
}


a {
    color: #FEFBE7;
}

a:visited {
    color: #FEFBE7;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#logo {
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 50px;
    color: #FEFBE7;
    text-align: center;
}

body {
    background-color: #DAE5D0;
    color: #363636;
    font-family: sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    margin: 0;
}

label {
    display: block;
    margin: 10px 0;
}

textarea {
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #A0BCC2;
    font-family: sans-serif;
    width: 100%;
    margin-bottom: 10px;
    resize: none;
}

button[type="submit"] {
    background-color: #FEFBE7;
    color: #354259;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #A0BCC2;
    cursor: pointer;
}

.button-keyword{
    background-color: #FEFBE7;
    color: #354259;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #A0BCC2;
    cursor: pointer;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 180px);
    /* 100vh에서 헤더 높이를 뺀 만큼 설정 */
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 100vh에서 헤더 높이를 뺀 만큼 설정 */
}

button[type="submit"] {
    background-color: #FEFBE7;
    color: #354259;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #A0BCC2;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

textarea {
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #A0BCC2;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    resize: none;
}

/* 편지 스타일 */
.letter-container {
    background-color: #f5e8d5;
    max-width: 640px;
    margin: 3rem auto; /* 중앙 배치를 위한 margin */
    padding: 2rem;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 18px;
    line-height: 1.6;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.indent {
    text-indent: 2em;
}