header {
    background-color:  #2c3e50;
    color: #DAE5D0;
    font-family: 'TmoneyRoundWindExtraBold';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
}


a {
    color: #FEFBE7;
}



a:visited {
    color: #FEFBE7;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#logo {
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 50px;
    color: #FEFBE7;
    text-align: center;
}

body {
    background-color: #354259;
    color: #f1c40f;
    font-family: 'TmoneyRoundWindExtraBold';
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    margin: 0;
}

label {
    display: block;
    margin: 10px 0;
}

textarea {
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #A0BCC2;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 100%;
    margin-bottom: 10px;
    resize: none;
}
.button{
    display:flex;
    justify-content: center;
}
#button-keyword{
    display:flex;
}

button[type="submit"] {
    font-family: 'TmoneyRoundWindExtraBold';
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 16px;
    background-color:#354259;
    color: rgb(241, 241, 235);
    border: 2px solid #f1c40f;
    cursor: pointer;
    margin : 20px;

    display:flex;
    flex-direction : row;
    justify-content : center;
    border-radius: 3px;
   
}


button[type="button"] {
    font-family: 'TmoneyRoundWindExtraBold';
    padding: 10px 20px;
    font-size: 1rem;
    background-color:#354259;
    color: rgb(241, 241, 235);
    border: 2px solid #f1c40f;
    cursor: pointer;
    margin : 20px;

    display:flex;
    flex-direction : row;
    justify-content : center;
    border-radius: 3px;
}

button[type="button"]:hover {
    background-color: #f1c40f;
    color: #FEFBE7;   
}

button[type="submit"]:hover {
    background-color: #f1c40f;
    color: #FEFBE7;   
}





.h1-tag {
    margin-top: 30px;
}


/* 버튼 제출하기 */
.button-submit{
    font-family: 'TmoneyRoundWindExtraBold';
    width : 30%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 16px;
    background-color:#354259;
    color: rgb(241, 241, 235);
    border: 2px solid #f1c40f;
    cursor: pointer;
    margin : 20px;

    display:flex;
    flex-direction : row;
    justify-content : center;
    border-radius: 10px;

}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 180px);
    /* 100vh에서 헤더 높이를 뺀 만큼 설정 */
}


.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* 원하는 마진값을 설정하세요. */
}

.image {
    width: 30%;
    margin: 0 10px;
    /* 원하는 마진값을 설정하세요. */
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 100vh에서 헤더 높이를 뺀 만큼 설정 */
}


textarea {
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #A0BCC2;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 100%;
    height: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    resize: none;
}

/* image reverse */
.container {
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512px;
    height: 512px;
    /* perspective: 300px; */
}

.container .item {
    padding: 20px;

    width: 512px;
    height: 512px;
    border: 1px solid #828282;
    font-size: 35px;
    backface-visibility: hidden;
    transition: 1s;

    max-width: 512px;
}

.container .item.front {
    width: 512px;
    height: 512px;
    line-height: 1.6;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    transform: rotateY(0deg);
}

.container:hover .item.front {
    transform: rotateY(180deg);
}

.container .item.back {
    width: 512px;
    height: 512px;
    line-height: 1.6;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    transform: rotateY(-180deg);
}

.container:hover .item.back {
    transform: rotateY(0deg);
}

.spin-image {
    margin-top: 30px;
}

/* 편지 스타일 */
#letter-container {
    background-color: #f5e8d5;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 18px;
    padding: 20px;
}

.img-container{
    width: 512px;
    height: 512px;
}

.item-description {
    position: relative;
    width: 512px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* 버튼 */ 
.speechclass  {
    font-family: 'TmoneyRoundWindExtraBold';
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 16px;
    background-color:#354259;
    color: rgb(241, 241, 235);
    border: 2px solid #f1c40f;
    cursor: pointer;
    margin : 20px;

    display:flex;
    flex-direction : row;
    justify-content : center;
    border-radius: 3px;
  }
  .button-container{
    display:flex;

  }

  .speechclass:hover{
    background-color: #f1c40f;
    color: #FEFBE7;   
  }
  
  .submitButton{
    font-family: 'TmoneyRoundWindExtraBold';
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 16px;
    background-color:#e4eef4;
    color: rgb(216, 204, 204);

    border: 2px solid rgb(192, 196, 201);
    cursor: pointer;
    margin : 20px;

    display:flex;
    flex-direction : row;
    justify-content : center;
    border-radius: 10px;

  }